{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Function based CRUD with ModelForm</title>
    <link rel="stylesheet" href="{% static "app/css/bootstrap.css" %}">
</head>
<body>
    <div class='container mt-5'>
        <h3 class='text-center alert alert-danger'>Function based CRUD project with ModelForm</h3>
  
        {% block content %}
        {% endblock content %}

    </div>

    <script src="{% static "app/js/bootstrap.js" %}"></script>
    <script src="{% static "app/js/jquery.js" %}"></script>
    <script src="{% static "app/js/popper.js" %}"></script>
</body>
</html>