<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
</head>
<body>
    <h3>Demo of Forms</h3>

    <form action="" target"">
        {% comment %} {{studentform.as_table}} {% endcomment %}
        {{studentform.as_p}}
        {% comment %} {{studentform.as_ul}} {% endcomment %}
        {% comment %} {{studentform.name}} {% endcomment %}
        
        <button type="submit">Submit</button>
    </form>

    <h3>Rendering form fields manually</h3>

    <form action="">
        <div>
            {{studentform.name.label_tag}}
            {{studentform.name}}
        </div>
        <div>
            {{studentform.name.label}} <br>
            {{studentform.name.value}} <br>
            {{studentform.name.html_name}} <br>
            {{studentform.name.help_text}} <br>
            {{studentform.name.field.required}} <br>
        </div>
    </form>

    <h3>Using for loop to show fields</h3>
    <form action="">
        {% comment %} {% for field in studentform %}
            {{field.label_tag}}
            {{field}}
            <br>
        {% endfor %} {% endcomment %}
        {% for field in studentform.visible_fields %} {% comment %} To show only visible fields  {% endcomment %}
            {{field.label_tag}}
            {{field}}
            <br>
        {% endfor %}
    </form>
    
    
</body>
</html>