<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome to XYZ Bank</h2>
    <ul>
        <li><a href="{% url "home" %}">home</a></li>
        <li><a href="{% url "about" %}">about</a></li>
        <li><a href="{% url "balance" %}">balance</a></li>
    </ul>
    <hr>
    <p>
        This is about page of Bank
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum placeat rem optio sequi ipsa magni, eligendi illum possimus sed facilis debitis nisi explicabo repellat iste atque tempore aperiam incidunt fugit, reiciendis corrupti veritatis, ipsum doloremque odio. Minima sed, deleniti odio repellat voluptates eaque laudantium hic amet? Molestias velit odio voluptatum laboriosam, perferendis assumenda reiciendis dolorum veritatis labore explicabo? Quo eveniet ad dolor molestias obcaecati maiores officia officiis quod itaque atque. Nobis eum labore numquam incidunt vero architecto? Et reiciendis laborum accusantium vitae explicabo cum eos, hic dolor nostrum repellat totam fugit ad natus labore recusandae. Possimus tempora repellendus voluptate aliquam!
    </p>
</body>
</html>