<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <h2>Profile Page</h2>
  <p> Welcome {{name}}</p>
    <div>
        {% if messages %}
            {% for message in messages %}
                    {{message}}
            {% endfor %}
        {% endif %}
    </div>
    <a href="{% url "logout" %}">Logout</a>
    <a href="{% url "changepassold" %}">Change Password(with old)</a>
    <a href="{% url "changepass" %}">Change Password</a>
</body>
</html>