<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h3>Home page with student details</h3>{{check}}
    <div>Student 1 <a href="{% url "details" 1 %}">details</a> <a href="{% url "subdetails" 1 1 %}">subdetails</a></div>
    <div>Student 2 <a href="{% url "details" 2 %}">details</a> <a href="{% url "subdetails" 2 2 %}">subdetails</a></div>
    <div>Student 3 <a href="{% url "details" 3 %}">details</a> <a href="{% url "subdetails" 3 3 %}">subdetails</a></div>
</body>
</html>