{% load mytags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>If For</title>
</head>
<body>
    <div>
       <h3> If, Elif and Else 1</h3>
       <div>name:{{name}}</div>

        {% if name|length > 5 %}
        <div>if:{{name}}</div>
        {% elif name|length < 1 %}
        <div>elif:next condition</div>
        {% else %}
        <div>else:Nothing</div>
        {% endif %}
    </div>
    <div>
        <div>digit:{{digit}}</div>

         {% if digit|divisibleby:2 %}
         <div>Divisible by 2</div>
         {% else %}
         <div>Not divisible by 2</div>
         {% endif %}
     </div>
     
     <h3> Custom Filter</h3>
     <div>
        <div>digit:{{digit}}</div>
         {% if digit|modulo:2 == 0 %}
         <bdiv>Even</bdiv>
         {% else %}
         <bdiv>Odd</bdiv>
         {% endif %}
     </div>
     <h3>For loop</h3>
     <div>
        <div>
            <div>ActualData:{{names}}</div>
            {% for name in names %}
            {% comment %} <div>{{forloop.revcounter}} {{name}}</div> reverse indexing{% endcomment %}
            {% comment %} <div>{{forloop.counter0}} {{name}}</div> start with 0{% endcomment %}
            {% comment %} <div>{{forloop.counter}} {{name}}</div> start with one {% endcomment %}
            {% comment %} <div>{{forloop.first}} {{name}}</div> {% endcomment %}
            {% comment %} <div>{{forloop.last}} {{name}}</div> {% endcomment %}
            {% endfor %}
        </div>
     </div>
</body>
</html>