<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> templatet testing </title>
</head>
<body>
    <h3>Template testing</h3>

    <div>
        <div><b>Actual Data</b></div>
        <div>Name: {{name}}</div>
        <div>City: {{city}}</div> 
        <div>Company: {{company}}</div>
        <div>Hobby: {{hobby}}</div>
        <div>Date: {{date}}</div>
    </div>
    <br>
    <div>
        <div><b>Filtering</b></div>
        <div>Name: {{name|upper}}</div>
        <div>City: {{city|truncatechars:5}}</div> 
        <div>Company: {{company|lower|capfirst}}</div>
        <div>Hobby: {{hobby|capfirst}}</div>
        <div>Date: {{date|date:"D d M Y"}}</div>
        <div>Date: {{date|time:"H:i"}}</div>
    </div>
</body>
</html>