<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD operations</title>
</head>
<body>
    <div>
        <h3>Form to submit data</h3>
        <form action="" method="post">
            {% csrf_token %}
            {{userform.as_p}}
            <button type="submit">Submit</button>
        </form>
    </div>
    <div>
        <h3>Submitted Data</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>
                </tr>
            {% endfor %}
        </table>
       
    </div>
</body>
</html>