<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>

    <div>
        {% if messages %}
            {% for message in messages %}
                    {{message}}
            {% endfor %}
        {% endif %}
    </div>

    <h2>Welcome {{request.user.username}}</h2>

    {% if perms.app3.delete_blog %}
    <input type="button" value='Delete'>
    {% endif %}
    {% if perms.app3.add_blog %}
    <input type="button" value='Add'>
    {% endif %}
    {% if perms.app3.change_blog %}
    <input type="button" value='Change'>
    {% endif %}
    {% if perms.app3.view_blog %}
    <input type="button" value='View'>
    {% endif %}
    {% if not perms.app3 %}
    <p>You dont have any permissions!!</p>
    {% endif %}

    <br><br>
    <p><a href="{% url "profile" %}">Profile</a></p>
    <p><a href="{% url "logout" %}">Logout</a></p>
</body>
</html>