<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <h4>Registration Form</h4>

    <div>
        <form action="" method='POST' novalidate>
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{field.label}} {{field}} {{field.errors|striptags}}
            </p>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>

</body>
</html>