<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model creation and retrieving data</title>
</head>
<body>
    <h5>Single item</h5>
    <div>
        {{student.name}} {{student.division}} {{student.about}}
    </div> 

   <h5>All queryset items With table</h5>
   <table>
    <tr>
        <th>Name</th>
        <th>Division</th>
        <th>About</th>
    </tr>
    
    {% for items in students %}
        <tr>
            <td>{{items.name}}</td>
            <td>{{items.division}}</td>
            <td>{{items.about}}</td>
        </tr>
    {% endfor %}
   </table>
   
</body>
</html>