<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail view</title>
</head>
<body>
    <h2>Student Detail View</h2>
    <div>
        Id: {{dstudent.id}} <br>
        Name: {{dstudent.name}}<br>
        Roll: {{dstudent.roll}}<br>
        Course: {{dstudent.course}}
    </div>
    {% if all_student %}
    <div>
        <h2>All Student list (added using context)</h2>
        <table>
            {% for student in all_student %}
            <ul>
                {{student.id}}
                {{student.name}}
                {{student.roll}}
                {{student.course}}
            </ul>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</body>
</html>