<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
        <h2>QuerySet API (field Lookups)</h2>
        <div>
            <table border='solid'>
               <tr>
                    <th>Roll</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Marks</th>
                    <th>Passing Date</th>
                    <th>Admission Time</th>
               </tr>
               {% for data in students %}
                <tr>
                    <td>{{data.roll}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.city}}</td>
                    <td>{{data.marks}}</td>
                    <td>{{data.passdate}}</th>
                    <td>{{data.admdatetime}}</th>
                </tr>
               {% endfor %}

            </table>
        </div>

    
</body>
</html>