<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
        <h2>QuerySet API (field Lookups)</h2>
        <div>
            <table border='solid'>
               <tr>
                    <th>Roll</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Marks</th>
                    <th>Passing Date</th>
                    <th>Admission Time</th>
               </tr>
               {% for data in students %}
                <tr>
                    <td>{{data.roll}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.city}}</td>
                    <td>{{data.marks}}</td>
                    <td>{{data.passdate}}</th>
                    <td>{{data.admdatetime}}</th>
                </tr>
               {% endfor %}

            </table>
        </div>
        {% comment %} ----------------------------------- {% endcomment %}
        <div>
            <h3>Q object results:</h3>
            <table border='solid'>
                <tr>
                     <th>Roll</th>
                     <th>Name</th>
                     <th>City</th>
                     <th>Marks</th>
                     <th>Passing Date</th>
                     <th>Admission Time</th>
                </tr>
                {% for data in q_results %}
                 <tr>
                     <td>{{data.roll}}</td>
                     <td>{{data.name}}</td>
                     <td>{{data.city}}</td>
                     <td>{{data.marks}}</td>
                     <td>{{data.passdate}}</th>
                     <td>{{data.admdatetime}}</th>
                 </tr>
                {% endfor %}
 
             </table>
        </div>
        {% comment %} -------------------------------------------- {% endcomment %}
        <div>
            <h3>Aggregate function in Django</h3>
            Avg: {{avg}} : {{avg.marks__avg}} <br>
            Sum: {{sum}} : {{sum.marks__sum}} <br>
            Min: {{min}} : {{min.marks__min}} <br>
            Max: {{max}} : {{max.marks__max}} <br>
            Count: {{count}} : {{count.marks__count}} <br>
            Std: {{std}} : {{std.marks__std}} <br>
            Var: {{var}} : {{var.marks__var}} <br>
            min_max: {{min_max}} : {{min_max.marks__min}} :{{min_max.marks__max}}
        </div>

    
</body>
</html>