<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Framework</title>
    <style>
        .success{
            color: blue;
        }
        .info{
            color: green;
        }
        .warning{
            color: orange;
        }
        .error{
            color: red;
        }
    </style>
</head>
<body>
    <h3>Messages Demo</h3>
    <div>
        {% if messages %}
            {% for message in messages %}
                <p {% if message.tags %} class='{{message.tags}}' {% endif %}>
                    {{message}}
                </p>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>